<?php

$config['db_dsnw'] = 'mysql://{{roundcube_mysql_user_name}}:{{roundcube_mysql_password}}@localhost/{{roundcube_mysql_database_name}}';

$config['default_host'] = 'localhost';

$config['support_url'] = '';

$config['des_key'] = 't7wdbQx14R85YXvMtz32Wp14';

$config['plugins'] = array();

